##########################################################################################
#                                                                                        #
#                       Pre-commit configuration file                                    #
#                                                                                        #
##########################################################################################
# ln -s ~/git/my-git-projects/.pre-commit-config.yaml .pre-commit-config.yaml
# pre-commit install && pre-commit install --hook-type commit-msg
# prek install && prek install --hook-type commit-msg
---
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-json
        exclude: .*/devcontainer\.json$|settings\.json$
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: no-commit-to-branch
        args:
          - --branch=main
          - --branch=master
        pass_filenames: false
        always_run: true
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-vcs-permalinks

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0
    hooks:
      - id: terraform_checkov
        # args:
        #   - --args=--config-file __GIT_WORKING_DIR__/.checkov.yml
      - id: terraform_fmt
      - id: terraform_tflint
      - id: terraform_trivy
      # Disabled due to AWS credentials requirements
      # - id: terraform_validate
      # - id: terrascan
      #   args:
      #     - --args=--severity=high
      #     - --args=--verbose
      - id: tfupdate
        args:
          - --args=terraform
          - --args=--version "~> 1.11"

  # - repo: https://github.com/terraform-docs/terraform-docs
  #   rev: v0.20.0
  #   hooks:
  #     - id: terraform-docs-go

  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.1.9
    hooks:
      - id: rumdl # Lint only (fails on issues)
        exclude: ^CHANGELOG\.md$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        # Skip Helm Charts
        exclude: ^.*/templates/.*\.yaml$
        args:
          - --format=parsable
          - --strict
          - -d
          - >
            {
              extends: relaxed,
              rules: {
                line-length: disable
              }
            }

  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: alphabetize-codeowners
      - id: fix-smartquotes

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args:
          - --indent=2
          - --space-redirects

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.6.2
          - prettier-plugin-sh
          - prettier-plugin-toml
        # Excluding some files from "ruzickap.github.io" repository
        args:
          - --cache-location=/tmp/.prettier-cache
        # Ignore: [error] No matching files. Patterns: .git/COMMIT_EDITMSG
        exclude: |
          (?x)(
              \.md|
              ^_config\.yml|
              ^_data/contact\.yml|
              ^\.git/COMMIT_EDITMSG$
          )$

  # - repo: https://github.com/google/keep-sorted
  #   rev: v0.7.1
  #   hooks:
  #     - id: keep-sorted

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
      - id: commitizen-branch
        stages: [pre-push]

  - repo: https://github.com/commit-check/commit-check
    rev: v2.4.0
    hooks:
      - id: check-message
      #   args:
      #     - --subject-imperative=false
      - id: check-branch
      - id: check-author-name
      - id: check-author-email

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        args:
          [
            --contrib=contrib-title-conventional-commits,
            --ignore=body-is-missing,
            --msg-filename,
          ]

  # - repo: https://github.com/tak-bro/aicommit2
  #   rev: v2.4.14
  #   hooks:
  #     - id: aicommit2
  #       name: AI Commit Message Generator
  #       entry: aicommit2 --pre-commit
  #       language: node
  #       stages: [prepare-commit-msg]
  #       always_run: true

  - repo: https://github.com/ruzickap/pre-commit-wizcli
    rev: v1.0.0
    hooks:
      - id: wizcli-scan-dir-secrets
