name: pre-commit-config

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - "!chore/renovate/*"
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/pre-commit-config.yml

env:
  AWS_DEFAULT_REGION: eu-central-1
  AWS_ROLE_TO_ASSUME: ${{ secrets.RUZICKA_SBX01_AWS_ROLE_TO_ASSUME }}
  SKIP: no-commit-to-branch

defaults:
  run:
    shell: bash -euxo pipefail {0}

permissions: read-all

jobs:
  pre-commit-config:
    # brew is not available on ubuntu-24.04-arm
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.24

      - name: Install checkov using pip3
        run: |
          pip3 install checkov

      - name: Install dependencies
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "/home/linuxbrew/.linuxbrew/bin" >> "${GITHUB_PATH}"
          brew install opentofu terrascan tflint tfupdate trivy

          terrascan version
          tflint --version
          tfupdate --version
          tofu -version
          trivy version

      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
