name: pre-commit-config

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - "!chore/renovate/*"
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/pre-commit-config.yml

env:
  AWS_DEFAULT_REGION: eu-central-1
  AWS_ROLE_TO_ASSUME: ${{ secrets.RUZICKA_SBX01_AWS_ROLE_TO_ASSUME }}
  SKIP: no-commit-to-branch,wizcli-scan-dir-secrets

defaults:
  run:
    shell: bash -euxo pipefail {0}

permissions: read-all

jobs:
  pre-commit-config:
    # brew is not available on ubuntu-24.04-arm
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      GH_TOKEN: ${{ github.token }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25

      - name: Install checkov using pip3
        run: |
          pip3 install checkov

      - name: Install dependencies
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "/home/linuxbrew/.linuxbrew/bin" >> "${GITHUB_PATH}"
          brew install gitleaks opentofu terrascan tflint tfupdate trivy

          gitleaks version
          terrascan version
          tflint --version
          tfupdate --version
          tofu -version
          trivy version

      - uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037 # v1.1.1
