---
name: tofu-cloudflare-github

on:
  pull_request:
  push:
    branches: [main]

permissions: read-all

env:
  MISE_SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

jobs:
  provision:
    runs-on: ubuntu-24.04-arm

    permissions:
      actions: read # Required to identify workflow run.
      checks: write # Required to add status summary.
      contents: read # Required to checkout repository.
      pull-requests: write # Required to add PR comment.

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          working_directory: opentofu/cloudflare-github

      # Run plan by default, or apply on merge.
      - uses: op5dev/tf-via-pr@a90a5e0eca088a36ed6bf75b5b4a6f7d07b750cc # v13
        with:
          working-directory: opentofu/cloudflare-github
          tool: tofu
          command: ${{ github.event_name == 'push' && 'apply' || 'plan' }}
          arg-lock: ${{ github.event_name == 'push' }}
          plan-encrypt: ${{ secrets.SOPS_AGE_KEY }}
          retention-days: 30
